@media (--pc) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 0;
    width: 100%;
    min-width: 1200px;
    .inner {
      display: flex;
      align-items: center;
    }
    &__logo {
      flex: 0 1 84px;
      a {
        display: block;
      }
      img {
        width: 100%;
      }
    }
    &__navbar {
      flex: 1 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    &__menu {
      display: flex;
      align-items: center;
      li {
        + li {
          margin-left: 40px;
        }
      }
      a {
        display: block;
        font-size: rem(20);
        line-height: 1.5;
        font-weight: 600;
        &.has-cart {
          img {
            width: 19px;
            height: auto;
          }
        }
      }
    }
  }
}
@media (--sp) {
}
