-
  var list = {
    foodLoverList: [
      {
        'src': 'top/avt_01.png',
        'name': 'Lurch Schpellchek',
        'job': 'UI & UX @ Microsoft',
        'description': 'Design is an evolutionary process, and filler text is just one tool in your progress-pushing arsenal. Use it where it makes sense process.'
      },
      {
        'src': 'top/avt_02.png',
        'name': 'Theodore Handle',
        'job': 'Design Lead @ Shopify',
        'description': 'Relax and do whatever fits with your design process. Don’t set a lot of restrictive hard-and-fast rules your design process.'
      },
      {
        'src': 'top/avt_03.png',
        'name': 'Valentino Morose',
        'job': 'Design Lead @ InVision',
        'description': 'The argument in favor of using filler something like this use real content design.'
      },
      {
        'src': 'top/avt_04.png',
        'name': 'Ingredia Nutrisha',
        'job': 'Linux Things @ Exposure Digital',
        'description': 'Surprisingly, there is a very vocal faction of the design community that wants to see filler text banished to the original sources came.'
      },
      {
        'src': 'top/avt_04.png',
        'name': 'Hermann P. Schnitzel',
        'job': 'Sr.Designer @ Stepsize',
        'description': 'The ultimate purpose of any digital product, whether a website, app, or HTML email, is  showcase great design.'
      }
    ]
  }